<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<br/><br/>
<div class="container">
    <button type="button" class="btn btn-default" ng-click="toggleDescriptionShow()" >+</button>
    <button type="button" class="btn btn-default" ng-click="deleteBoughtProducts()" > Delete bought products!</button>
    <input  placeholder="Search for product" ng-model="searchText" type="text" >

    <div class="jumbotron" ng-show="descriptionShow">
        <input type="text" id="name"  ng-model="product.Name"
               placeholder="Product name" ng-required>
        <input type="text" id="quantity"  ng-model="product.Quantity"
               placeholder="Product quantity" ng-required>
        <button type="button" class="btn btn-default"  ng-click="create(product)">Add Product</button>
    </div>

    <table class="table table-bordered">
        <tr>
            <Bought></Bought>
            <th></th>
            <th>Products</th>
            <th>Quantity</th>
            <th></th>
        </tr>
       <tr ng-repeat="product in products | customFilter:searchText">
           <td>
               <input type="checkbox" ng-click="toggleBoughtShow(product)">
           </td>

           <td ng-show="!product.Edit && !product.Bought">
                {{product.Name}}
            </td>
            <td ng-show="!product.Edit  && !product.Bought">
                {{product.Quantity}}
            </td>

           <td ng-show="product.Bought ">
               <del>{{product.Name}}</del>
           </td>
           <td ng-show="product.Bought">
               <del>{{product.Quantity}}</del>
           </td>

           <td ng-show="product.Edit && !product.Bought">
                <input type="text"  ng-model="product.Name">
            </td>
            <td ng-show="product.Edit && !product.Bought">
                <input type="text"  ng-model="product.Quantity">
            </td>
           <td>
               <button type="button" class="btn btn-default" ng-click="toggleEditShow(product, product.Name, product.Quantity)">EDIT</button>
           </td>

        </tr>
    </table>

</div>
</body>
</html>